* {
  box-sizing: border-box;
}

.spreadsheet {
  border-collapse: collapse;
  font-family: monospace;
  font-weight: bold;
}

.header {
  background-color: #ccc !important;
  text-align: center !important;
}

.rowheader {
}

.columnheader {
}

.spreadsheet td:nth-child(2n + 1) {
  background-color: #0001;
}
.spreadsheet tr:nth-child(2n + 1) {
  background-color: #0001;
}
.spreadsheet td {
  width: 100px;
  height: 20px;
  text-align: right;
}

.cell {
  display: block;
  width: 100%;
  height: 100%;
}

input.cell {
  font-family: inherit;
  font-weight: inherit;
  border: 0;
  text-align: right;
  background: transparent;
}

input.cell:not([readonly]) {
  outline: 1px solid blue;
}

.focused {
  background-color: hsla(120, 60%, 90%) !important;
}

.hidden {
  display: none;
}

.busy {
  color: transparent;
}
