.usage {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.usage h2 {
  margin: 0;
  padding: 0;
}

.usage p {
  margin: 0.75em 0 0 0;
  padding: 0;
}

.usage kbd {
  background-color: rgb(231, 230, 230);
  padding: 0.25em 0.5em;
}
